*.iml

.gradle
.gradle-user-home/
.kotlin/

local.properties
/local.properties

/build
/captures

.externalNativeBuild
.cxx

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
/.idea/httpRequests/

.DS_Store